// stylelint-disable value-keyword-case
$font-family-sans-serif: 'Inter', 'Roboto' sans-serif;
$font-family-secondary: 'roboto', 'san-serif';
$text-muted: #ADB5BD;
$fs-7: 0.75rem;
// 
// $input-focus-color: none;
// $input-focus-box-shadow: 0;