<div class="background-image cursor-pointer">
    <div class="container h-100 ">
        <div class="row h-100 align-items-center py-4 ">
            <!-- logo -->
            <div class="col-lg-5 col-md-12 col-sm-12 ">
                <img src="../../../assets/images/1Rhythm logo.png" alt="" class="img-fluid">
            </div>

            <div class="car-container col-lg-7 col-md-12 col-sm-12 bg-white p-5 overflow-auto">
                <div class="row">
                    <h2>Create Your Account</h2>
                    <span>Already have an account?<strong class="text-primary"> sign in</strong></span>
                </div>
                <!-- profile -->
                <div class="profile-pic position-relative my-5 ">
                    <img src="../../../assets/images/Vector.png" alt="">
                    <div class="position-absolute text-dark top-100 ms-1 translate-middle logo">
                        <img src="../../../assets/images/Vector (2).png" alt="">
                    </div>
                </div>
                <!-- start:form -->
                <form>
                    <div class="row ">
                        <div class="col-md-6 col-lg-6 col-xl-6 mt-3">
                            <!-- firstname input -->
                            <div class="form-outline">
                                <label class="form-label fw-bold" for="firstname">FirstName <span
                                        class="text-danger">*</span></label>
                                <input type="text" id="firstname" class="form-control "
                                    placeholder="Enter Your FirstName" formControlName="firstname">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6 mt-3">
                            <!-- lastname input -->
                            <div class="form-outline">
                                <label class="form-label fw-bold" for="lastname">LastName <span
                                        class="text-danger">*</span></label>
                                <input type="text" id="lastname" class="form-control " placeholder="Enter lastname"
                                    formControlName="lastname" />
                            </div>
                        </div>
                    </div>
                    <div class="row   ">
                        <div class="col-md-6 col-lg-6 col-xl-6 mt-3">
                            <!-- firstname input -->
                            <div class="form-outline">
                                <label class="form-label fw-bold" for="firstname">FirstName <span
                                        class="text-danger">*</span></label>
                                <input type="text" id="firstname" class="form-control "
                                    placeholder="Enter Your FirstName" formControlName="firstname">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6 mt-3">
                            <!-- lastname input -->
                            <div class="form-outline">
                                <label class="form-label fw-bold" for="lastname">LastName <span
                                        class="text-danger">*</span></label>
                                <input type="text" id="lastname" class="form-control " placeholder="Enter lastname"
                                    formControlName="lastname" />
                            </div>
                        </div>
                    </div>
                    <div class="row   ">
                        <div class="col-md-6 col-lg-6 col-xl-6 mt-3">
                            <!-- firstname input -->
                            <div class="form-outline">
                                <label class="form-label fw-bold" for="firstname">FirstName <span
                                        class="text-danger">*</span></label>
                                <input type="text" id="firstname" class="form-control "
                                    placeholder="Enter Your FirstName" formControlName="firstname" />
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6 mt-3">
                            <!-- lastname input -->
                            <div class="form-outline">
                                <label class="form-label fw-bold" for="lastname">LastName <span
                                        class="text-danger">*</span></label>
                                <input type="text" id="lastname" class="form-control " placeholder="Enter lastname"
                                    formControlName="lastname" />
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6 col-lg-6 col-xl-6 mt-3">
                            <!-- select country -->
                            <div class="form-outline">
                                <span class="fw-bold">Select Country<span class="text-danger">*</span></span>
                                <div class="form-control mt-1"><img src="../../../assets/images/Frame 5.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3 mt-3">
                            <!-- lastname input -->
                            <div class="form-outline">
                                <label class="form-label fw-bold" for="lastname">LastName <span
                                        class="text-danger">*</span></label>
                                <select id="inputState" class="form-select">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3 mt-3">
                            <!-- lastname input -->
                            <div class="form-outline">
                                <label class="form-label fw-bold" for="lastname">LastName <span
                                        class="text-danger">*</span></label>
                                <select id="inputState" class="form-select">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- end:form -->
                <!-- note -->
                <div class="row my-3 d-flex">
                    <span class="fw-bold">note:</span>
                </div>
                <!-- sign button -->
                <button class="p-1 rounded px-5 mx-1">sign in</button>
            </div>
        </div>
    </div>
</div>