button {
    border: none;
    background: linear-gradient(270.17deg, #2D6DD5 1.37%, #35B5C8 99.86%);
}

.btn {
    padding: 30px;
}

.profile-btn {
    color: white;
    height: 25px;
    width: 25px;
    bottom: 0%;
    left: 73px;
    background: linear-gradient(270.17deg, #2D6DD5 1.37%, #35B5C8 99.86%);
}