// start:registertion form
.background-image {
    background: url("../../../assets/images/Bg\ Image.png")center no-repeat;
    background-size: cover;
    height: 100%;
}

.profile-pic>input {
    height: 100px;
    width: 127px;
    display: none;
}

.car-container {
    height: 800px;
    width: 950px;
}

.me-n1 {
    margin-right: 180px;
}