// start:registertion form
.background-image {
    background: url("../../../assets/images/Bg\ Image.png")center no-repeat;
    background-size: cover;
    height: 100%;
}

.country-image {
    height: 20px;
}

.profile-pic {
    height: 100px;
    width: 127px;

    input {
        display: none;
    }
}

@media (max-width:550px) {
    .container {
        padding: 16px;
    }

    .form-container {
        height: 600px;
        overflow: auto;
        margin: 0 20px;
    }

    .logo {
        text-align: center;
        margin-bottom: 30px;

        img {
            width: 320px;
        }
    }
}

@media (max-width:990px) {
    .container {
        padding: 16px;
    }

    .form-container {
        overflow: auto;
        margin: 0 20px;
        height: 650px;
    }

    .logo {
        text-align: center;
        margin-bottom: 30px;

        img {
            width: 350px;
        }
    }
}

@media (max-height:750px) {
    section {
        overflow: auto;

        .form-container {
            overflow: auto;
            margin: 0 20px;
            height: 450px;
        }
    }

    .logo {
        text-align: center;

        img {
            width: 220px;
        }
    }
}