form {
    font-size: $fs-7;

    .form-control {
        font-size: 0.85rem;

        &:focus {
            box-shadow: none;
            border: 1px solid $primary;
        }
    }
}

// .selectpicker {}