form {
    font-size: $fs-7;

    .form-control {
        font-size: 0.85rem;

        &:focus {
            box-shadow: none;
            border: 1px solid $primary;
        }
    }

    select {
        appearance: none;
        background-image: url("../../../assets/images/Vector\ \(4\).png");
        background-repeat: no-repeat;
        background-position: right 0.7rem top 50%;
        background-size: 0.65rem auto;
    }
}