<p>manage-studio-profile works!</p>
<form [formGroup]="manageStudioForm">
    <div class="d-flex">
        <div class="form-outline m-3">
            <ng-select *ngIf="isMusicControlVisible && manageStudioProfile" [items]="manageStudioProfile"
                [closeOnSelect]="false" labelForId="id" [multiple]="true" [searchable]="false" formControlName="days"
                [bindLabel]="'days'">
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <div class="input-field">
                        <input type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}"
                            (change)="onClick()" />
                        {{item['days']}}
                        <div class="input">
                            <input type="text" id="checked" [disabled]="isDisabled">
                        </div>
                    </div>
                </ng-template>
            </ng-select>
            <span *ngIf="function['days'].invalid && (function['days'].touched || function['days'].dirty)"
                class="text-danger">This field required</span>
        </div>
    </div>
</form>